{% extends 'eng/base.html' %} {% load static %} {% block content %}

    {% include 'eng/bread.html' with page='Prices and services' %}
    <div class="bg-services">
        <div class="slider">
            <section class="services slide">
                <div class="">
                    <img src="{% static 'img/boss-discussing.png' %}" alt="">
                    <a href="" data-link="call" class="large-button open-modal">Order a consultation</a>
                </div>
                <div class="text" id="num_1">
                    <num>01</num>
                    <h2 class="red">Professional Consultation</h2>
                    <p>Price starts <span class="bold">at 7$ per hour.</span></p>
                    <h3>When is a consultation necessary?</h3>
                    <div class="wrapper">

                        <p><span class="bold">1.)</span>
                            If you are thinking which apartment will be optimal for you at the stage of choosing a real
                            estate. If you want to compare several options for planning solutions. Our designer will
                            help you and suggest which space is more suitable for your needs and lifestyle.</p>
                        <p><span class="bold">2.)</span>
                            You have just bought a property. You are not going to order an interior design project, but
                            you don’t want to make gross mistakes in the process of renovation. Our team will answer
                            your questions, discuss possible interesting solutions and advise on how to save money, time
                            and spare your nerves!
                        </p>

                        <p><span class="bold">3.)</span>
                            You have purchased a land plot. You do not know where to start the construction of the
                            future building and the design of the adjacent territory, you cannot decide on the budget,
                            you are confused in the relevant regulations. We will help you with these questions and
                            advice on the areas and specialists to work with, the amount of time and money to be spent
                            on the project development and will competently compile technical requirements for your
                            project.
                        </p>
                        <p><span class="bold">4.)</span>
                            You are already in the process of renovation or you have an apartment with a fine finish and
                            you want to get ideas for arranging furniture, decorating space, choosing the color scheme
                            based on your budget. We will be happy to advise you on possible planning solutions and
                            stylistic trends!
                        </p>

                        <h3>
                            The final price of the consultation will be calculated individually, depending on the task
                            our team is facing!
                        </h3>

                    </div>
                    <a href="#" alt="read more" class="read-more">minimise</a>
                </div>
            </section>
            <section class="slide">
                <div class="text block" id="num_2">
                    <num>02</num>
                    <h2>Architectural Design</h2>
                    <div class="wrapper closed">
                        <p>The architectural project development is a challenging and time-consuming task. This is one
                            of the most complicated and attention-requiring processes and services that we carry out. An
                            architectural project includes many sections and subsections and requires interaction
                            between a large team of specialists (from geodesists to engineers and designers themselves).
                            In some cases for individual construction you need a “light version” project, that does not
                            require a lot of approvals and time costs. We cannot say the same about a shopping center or
                            a multi-storey residential building projects development. For this reason, in this section
                            we do not indicate the minimum cost of the project and do not describe in detail all the
                            stages of work.</p>
                        <h3> Instead, we invite you to a free consultation, where we will gladly listen to you, discuss
                            an approximate price of your architectural project and draw up a draft of the technical
                            requirements for you.</h3>
                    </div>
                    <a href="#" alt="minimise" class="read-more">read more</a>
                </div>
                <img src="{% static 'img/boss-discussing-document-with-secretary-6BW4T3Y 4.png' %}" alt="">
            </section>
            <section class="slide">
                <img src="{% static 'img/boss-discussing-document-with-secretary-6BW4T3Y 5.png' %}" alt="">
                <div class="text block" id="num_3">
                    <num>03</num>
                    <h2>
                        Residential Interiors <br>

                    </h2>
                    <p> Price starts at <span class="bold">20$ per hour.</span></p>
                    <div class="wrapper closed">
                        <h3>Work stages:</h3>
                        <p>
                            <span class="bold">1.)</span>
                            Acquaintance, first discussion to collect information. <br>
                            We are all different, we have our own individual character traits and interests. For the
                            most efficient and quick work on the project the Poplavsky Group team gets to know you
                            better, asking about your hobbies, favourite styles, necessary storage spaces, your
                            preferences in choosing furniture, equipment, etc.
                        </p>
                        <p><span class="bold">2.)</span>
                            Planning and exploring the space. <br>
                            We offer you several options for planning with arrangement of furniture, taking into account
                            all your wishes. Together we choose the variant you like most and give it a final touch.
                        </p>
                        <p><span class="bold">3.)</span> 3D renderings / collages.<br>
                            All of us fall in love with our eyes, that’s true. Visual image is the easiest thing for us
                            to perceive. We will offer you photorealistic pictures of the future space or collages (for
                            those who have rich imagination and want to save a little on the project). This stage will
                            help to form a clear idea of the design and the chosen planning solution. At the same stage
                            we select furniture, finishing materials and equipment according to the approved project.
                        </p>
                        <p><span class="bold">4.)</span> Construction drawings.<br>
                            We develop an album of professional construction drawings for the subsequent implementation
                            of the project, accessible and understandable to any competent builder.

                        </p>
                        <h3>The project supervision is possible in different cities and countries, its price is
                            discussed individually.
                            All stages of work are supported by an agreement with terms and obligations.</h3>
                    </div>
                    <a href="#" alt="minimise" class="read-more">read more</a>
                </div>
            </section>
            <section class="slide">
                <div class="text block" id="num_4">
                    <num>04</num>
                    <h2>Commercial Interiors </h2>
                    <div class="wrapper closed">
                        <h3>Work stages:</h3>
                        <p><span class="bold">1.)</span>
                            Acquaintance, first discussion to collect information. <br>
                            Any business has its own individual characteristics. For the most efficient and quick work
                            on a project at this stage, our team needs to understand the specifics and the area of your
                            business, future functions and format of the space, its ergonomical and technological
                            aspects.

                        </p>
                        <p><span class="bold">2.)</span>
                            Planning and exploring the space. <br>
                            We offer you several options for planning with arrangement of furniture, taking into account
                            all your wishes. Together we choose the variant you like most and give it a final touch.
                        </p>
                        <p><span class="bold">3.)</span>
                            3D renderings / collages. <br>
                            All of us fall in love with our eyes, that’s true. Visual image is the easiest thing for us
                            to perceive. We will offer you photorealistic pictures of the future space or collages (for
                            those who have rich imagination and want to save a little on the project). This stage will
                            help to form a clear idea of the design and the chosen planning solution. At the same stage
                            we select furniture, finishing materials and equipment according to the approved project.
                        </p>
                        <p><span class="bold">4.)</span>
                            Construction drawings. <br>
                            We develop an album of professional construction drawings for the subsequent implementation
                            of the project, accessible and understandable to any competent builder.
                        </p>
                        <p><span class="bold">5.)</span>
                            Approval.<br>
                            Approval of the project by various supervisory authorities (if necessary).
                            The commercial interior design project also includes many sections and subsections. We
                            invite you for a free consultation to determine the final price of the project and the
                            specific sections that you need.
                            The project supervision is possible in different cities and countries, its price is
                            discussed individually.

                        <h3>
                            All stages of work are supported by an agreement with terms and obligations.
                        </h3>
                        </p>
                    </div>

                    <a href="#" alt="minimise" class="read-more">read more</a>
                </div>
                <img src="{% static 'img/boss-discussing-document-with-secretary-6BW4T3Y 6.png' %}" alt="">
            </section>

        </div>

    </div>
    <div class="bg-services-mobile">
        <div class="sq">
            <img src="{% static 'img/boss-discussing.png' %}" alt="">
            <div class="text">
                <num>01</num>
                <h2 class="red">Professional Consultation</h2>
                <p>Price starts <span class="bold">at 7$ per hour.</span></p>
                <h3>When is a consultation necessary?</h3>
                <div class="wrapper closed">
                    <p><span class="bold">1.)</span>
                        If you are thinking which apartment will be optimal for you at the stage of choosing a real
                        estate. If you want to compare several options for planning solutions. Our designer will
                        help you and suggest which space is more suitable for your needs and lifestyle.</p>
                    <p><span class="bold">2.)</span>
                        You have just bought a property. You are not going to order an interior design project, but
                        you don’t want to make gross mistakes in the process of renovation. Our team will answer
                        your questions, discuss possible interesting solutions and advise on how to save money, time
                        and spare your nerves!
                    </p>

                    <p><span class="bold">3.)</span>
                        You have purchased a land plot. You do not know where to start the construction of the
                        future building and the design of the adjacent territory, you cannot decide on the budget,
                        you are confused in the relevant regulations. We will help you with these questions and
                        advice on the areas and specialists to work with, the amount of time and money to be spent
                        on the project development and will competently compile technical requirements for your
                        project.
                    </p>
                    <p><span class="bold">4.)</span>
                        You are already in the process of renovation or you have an
                        apartment with a fine finish and
                        you want to get ideas for arranging furniture, decorating space, choosing the color scheme
                        based on your budget. We will be happy to advise you on possible planning solutions and
                        stylistic trends!
                    </p>

                    <h3>The final price of the consultation will be calculated individually, depending on the task
                        our team is facing!</h3>
                </div>
                <a href="#" alt="minimise" class="read-more">read more</a>
            </div>
        </div>
        <div class="sq">
            <div class="text block">
                <img src="{% static 'img/boss-discussing-document-with-secretary-6BW4T3Y 4.png' %}" alt="">
                <num>02</num>
                <h2>Architectural Design</h2>
                <div class="wrapper closed">
                    <p>
                        The architectural project development is a challenging and time-consuming task. This is one
                        of the most complicated and attention-requiring processes and services that we carry out. An
                        architectural project includes many sections and subsections and requires interaction
                        between a large team of specialists (from geodesists to engineers and designers themselves).
                        In some cases for individual construction you need a “light version” project, that does not
                        require a lot of approvals and time costs. We cannot say the same about a shopping center or
                        a multi-storey residential building projects development. For this reason, in this section
                        we do not indicate the minimum cost of the project and do not describe in detail all the
                        stages of work.</p>
                    <p>
                    <h3> Instead, we invite you to a free consultation, where we will gladly listen to you, discuss
                        an approximate price of your architectural project and draw up a draft of the technical
                        requirements for you.</h3>
                </div>
                <a href="#" alt="minimise" class="read-more">read more</a>
            </div>
        </div>
        <div class="sq"><img src="{% static 'img/boss-discussing-document-with-secretary-6BW4T3Y 5.png' %}" alt="">
            <div class="text block">
                <num>03</num>
                <h2>Residential Interiors</h2>
                <p> Price starts at <span class="bold">20$ per hour.</span></p>
                <div class="wrapper closed">
                    <h3>Work stages:</h3>
                    <p>
                        <span class="bold">1.)</span>
                        Acquaintance, first discussion to collect information.<br>
                        We are all different, we have our own individual character traits and interests. For the
                        most efficient and quick work on the project the Poplavsky Group team gets to know you
                        better, asking about your hobbies, favourite styles, necessary storage spaces, your
                        preferences in choosing furniture, equipment, etc.
                    </p>
                    <p><span class="bold">2.)</span> Planning and exploring the space. <br>
                        We offer you several options for planning with arrangement of furniture, taking into account
                        all your wishes. Together we choose the variant you like most and give it a final touch.
                    </p>
                    <p><span class="bold">3.)</span> 3D renderings / collages.<br>
                        All of us fall in love with our eyes, that’s true. Visual image is the easiest thing for us
                        to perceive. We will offer you photorealistic pictures of the future space or collages (for
                        those who have rich imagination and want to save a little on the project). This stage will
                        help to form a clear idea of the design and the chosen planning solution. At the same stage
                        we select furniture, finishing materials and equipment according to the approved project.
                    </p>
                    <p><span class="bold">4.)</span> Construction drawings. <br>
                        We develop an album of professional construction drawings for the subsequent implementation
                        of the project, accessible and understandable to any competent builder.
                    </p>
                    <h3>The project supervision is possible in different cities and countries, its price is
                        discussed individually.
                        All stages of work are supported by an agreement with terms and obligations.</h3>
                </div>
                <a href="#" alt="minimise" class="read-more">read more</a>
            </div>
        </div>
        <div class="sq">
            <div class="text block">
                <img src="{% static 'img/boss-discussing-document-with-secretary-6BW4T3Y 6.png' %}" alt="">
                <num>04</num>
                <h2>Commercial Interiors </h2>
                <div class="wrapper closed">
                    <h3>Work stages:</h3>
                    <p><span class="bold">1.)</span>
                        Acquaintance, first discussion to collect information. <br>
                        Any business has its own individual characteristics. For the most efficient and quick work
                        on a project at this stage, our team needs to understand the specifics and the area of your
                        business, future functions and format of the space, its ergonomical and technological
                        aspects.
                    </p>
                    <p><span class="bold">2.)</span>
                        Planning and exploring the space. <br>
                        We offer you several options for planning with arrangement of furniture, taking into account
                        all your wishes. Together we choose the variant you like most and give it a final touch.
                    </p>
                    <p><span class="bold">3.)</span>
                        3D renderings / collages. <br>
                        All of us fall in love with our eyes, that’s true. Visual image is the easiest thing for us
                        to perceive. We will offer you photorealistic pictures of the future space or collages (for
                        those who have rich imagination and want to save a little on the project). This stage will
                        help to form a clear idea of the design and the chosen planning solution. At the same stage
                        we select furniture, finishing materials and equipment according to the approved project.
                    </p>
                    <p><span class="bold">4.)</span>
                        Construction drawings. <br>
                        We develop an album of professional construction drawings for the subsequent implementation
                        of the project, accessible and understandable to any competent builder.
                    </p>
                    <p><span class="bold">5.)</span>
                        Approval. <br>
                        Approval of the project by various supervisory authorities (if necessary).
                        The commercial interior design project also includes many sections and subsections. We
                        invite you for a free consultation to determine the final price of the project and the
                        specific sections that you need.
                        The project supervision is possible in different cities and countries, its price is
                        discussed individually.
                    <h3>
                        All stages of work are supported by an agreement with terms and obligations.
                    </h3>
                    </p>
                </div>
                <a href="#" alt="minimise" class="read-more">read more</a>
            </div>
        </div>
    </div>
    {% include 'eng/footer-form.html' with title='CONTACT US' title_2='Contact us to ask a question!' %}
{% endblock %}
