{% load static %}
<div class="broadcumps">
    <h1>
    {% if page %}{{ page }}{% else %}Портфолио{% endif %}
    </h1>
    <a href="{% url 'main' %}">Главная</a>
    <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.455 0.37L7.54 0.37L2.59 14.5L0.504997 14.5L5.455 0.37Z" fill="#DA2525"/>
    </svg>
    {% if page %}
        <span>{{ page }}</span>
    {% endif %}
    {% if variable %}
        <a href="{% url 'portfolio' %}">Портфолио</a>
        <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.455 0.37L7.54 0.37L2.59 14.5L0.504997 14.5L5.455 0.37Z" fill="#DA2525"/>
        </svg>
        <span>{{ variable }}</span>
    {% endif %}
</div>