
{% if page %}
    <title>{{ page }}</title>
    <meta name="description" content="{{ meta.descr }}">
{% else %}
{% if case.title_ru %}
    <title>{{ case.title_ru }}</title>
    <meta name="Keywords" content="{{ case.seo_dictinary }}">
    <meta name="description" content="{{ case.short_descrition_ru }}">
{% endif %}
{% endif %}


{% if meta %}
<title>POPLAVSKY GROUP</title>
    <meta name="Keywords" content="{{ meta.meta_words }}">
    <meta name="description" content="{{ meta.descr }}">
{% endif %}