{% load static %}

<div class="overlay"></div>
<div class="modal" id="call">
    <form action="">
        <h3>ЗАКАЖИТЕ <br>КОНСУЛЬТАЦИЮ</h3>
        <input type="text" class="field" placeholder="Ваше имя">
        <input type="tel" pattern='^\+?\d{0,13}' class="field" placeholder="Ваш телефон">
        <input type="email" class="field" placeholder="Ваша почта">
        <input type="text" class="field" placeholder="Ваш вопрос">
        <input type="submit" class="large-button" value="Позвоните мне">
    </form>
</div>