{% extends 'ru/base.html' %} {% load static %} {% block content %}

    {% include 'ru/bread.html' with page='Услуги и цены' %}
    <div class="bg-services">
        <div class="slider">
            <section class="services slide">
                <div class="">
                    <img src="{% static 'img/boss-discussing.png' %}" alt="">
                    <a href="" data-link="call" class="large-button open-modal">Заказать консультацию</a>
                </div>
                <div class="text" id="num_1">
                    <num>01</num>
                    <h2 class="red">Профессиональная консультация</h2>
                    <p>От <span class="bold"> 500 р/час</span></p>
                    <h3>Когда нужна консультация?</h3>
                    <div class="wrapper">

                        <p><span class="bold">1.)</span>
                            Если Вы в стадии выбора недвижимости, думаете, какая квартира для Вас будет оптимальна,
                            хотите сравнить несколько вариантов планировочных решений. Наш дизайнер поможет и подскажет,
                            какое пространство подойдет больше под Ваши потребности и образ жизни.</p>
                        <p><span class="bold">2.)</span>
                            Вы только приобрели недвижимость, не собираетесь заказывать проект по дизайну интерьера, но
                            не хотите допустить грубых ошибок в ремонте. Наша команда ответит на Ваши вопросы, обсудит с
                            Вами возможные интересные решения и посоветует, как сэкономить деньги, время и нервы!
                        </p>

                        <p><span class="bold">3.)</span>
                            Вы приобрели земельный участок, не знаете с чего начать строительство будущего объекта и
                            проектирование прилегающей территории, не можете определиться с бюджетом, запутались в
                            нормативных документах. Мы поможем Вам разобраться с данными вопросами, подскажем, работа с
                            какими разделами и специалистами понадобится, сколько времени и средств уйдет на разработку
                            проекта, составим грамотные технические задания.
                        </p>
                        <p><span class="bold">4.)</span>
                            Вы уже в процессе ремонта, или у Вас квартира с отделкой, и Вы хотите получить идеи по
                            расположению мебели, декорированию пространства, определению цветового решения исходя из
                            Вашего бюджета. Мы с радостью подскажем Вам возможные планировочные решения и стилистические
                            направления!
                        </p>

                        <h3>
                            Стоимость консультации определяется индивидуально, в зависимости от стоящей перед нашей
                            командой задачи!
                        </h3>

                    </div>
                    <a href="#" alt="развернуть" class="read-more">свернуть</a>
                </div>
            </section>
            <section class="slide">
                <div class="text block" id="num_2">
                    <num>02</num>
                    <h2>Архитектурное проектирование</h2>
                    <div class="wrapper closed">
                        <p>
                            Разработка архитектурного проекта нелегкий и трудоемкий процесс. Из всех осуществляемых нами
                            работ и услуг- это одна из наиболее ответственных и сложных. Архитектурный проект включает в
                            себя множество разделов и подразделов, требует взаимодействия большой команды специалистов
                            (от
                            геодезистов до конструкторов и непосредственно проектировщиков). Для индивидуального
                            строительства бывает необходим «облегченный» проект, не требующих множества согласований и
                            временных затрат, чего нельзя сказать о разработке проекта торгового центра или
                            многоэтажного
                            жилого дома. Именно по этой причине мы не указываем в данном разделе минимальной стоимости
                            проекта и не расписываем подробно все этапы работ.</p>
                        <h3>
                            Вместо этого мы приглашаем Вас на бесплатную консультацию, где с радостью выслушаем Вас,
                            обговорим предварительную стоимость Вашего архитектурного проекта и составим предварительное
                            техническое задание.</h3>
                    </div>
                    <a href="#" alt="свернуть" class="read-more">читать больше</a>
                </div>
                <img src="{% static 'img/boss-discussing-document-with-secretary-6BW4T3Y 4.png' %}" alt="">
            </section>
            <section class="slide">
                <img src="{% static 'img/boss-discussing-document-with-secretary-6BW4T3Y 5.png' %}" alt="">
                <div class="text block" id="num_3">
                    <num>03</num>
                    <h2>
                        Дизайн интерьера.
                    </h2>
                    <p>От <span class="bold"> 1500 р/м2</span></p>
                    <div class="wrapper closed">
                        <h3>Этапы работ:</h3>
                        <p>
                            <span class="bold">1.)</span>
                            Знакомство, анкетирование, сбор информации. <br>
                            Все мы разные, имеем свои индивидуальные черты и увлечения. Для максимально эффективной и
                            быстрой работы над проектом команда Poplavsky Group узнаёт Вас поближе, расспрашивает об
                            увлечениях, вкусовых особенностях, о необходимых Вам местах хранения, предпочтениях в выборе
                            мебели, техники и т.д.
                        </p>
                        <p><span class="bold">2.)</span> Планировка и изучение пространства. <br>
                            Мы предлагаем Вам насколько вариантов планировки с расстановкой мебели, с учетом всех ваших
                            пожеланий и вместе выбираем наиболее близкий Вам, дорабатываем его.</p>
                        <p><span class="bold">3.)</span> 3D визуализации/ коллажи. <br>
                            Все мы любим глазами и легче всего воспринимаем визуальную информацию. Мы предложим вам
                            фотореалистичные картинки будущего пространства или коллажи (для тех, кто имеет богатое
                            воображение и хочет немного сэкономить на проекте). Данный этап поможет сформировать четкое
                            представление о дизайне помещений и выбранном планировочном решении. Здесь же подбирается
                            мебель, отделочные материалы и оборудование согласно утвержденному проекту.
                        </p>
                        <p><span class="bold">4.)</span> Рабочие чертежи. <br>
                            Разработка альбома профессиональных рабочих чертежей для последующей реализации проекта,
                            доступных и понятных любому компетентному строителю.

                        </p>
                        <h3>Формат сопровождения проектов и его стоимость обсуждается индивидуально и возможен в разных
                            городах и странах.
                            Все этапы работы подкрепляются договором со сроками и обязательствами.</h3>
                    </div>
                    <a href="#" alt="свернуть" class="read-more">читать больше</a>
                </div>
            </section>
            <section class="slide">
                <div class="text block" id="num_4">
                    <num>04</num>
                    <h2>Коммерческий дизайн интерьера</h2>
                    <div class="wrapper closed">
                        <h3>Этапы работ:</h3>
                        <p><span class="bold">1.)</span>
                            Знакомство, анкетирование, сбор информации. <br>
                            Любой бизнес имеет свои индивидуальные особенности. Для максимально эффективной и быстрой
                            работы над проектом на данном этапе нашей команде необходимо представлять специфику и
                            направление вашего бизнеса, будущий функционал и формат помещений, его эргономические и
                            технологические аспекты.
                        </p>
                        <p><span class="bold">2.)</span>
                            Планировка и изучение пространства. <br>
                            Мы предлагаем Вам насколько вариантов планировки с расстановкой мебели, с учетом всех ваших
                            пожеланий и вместе выбираем наиболее близкий Вам, дорабатываем его.
                        </p>
                        <p><span class="bold">3.)</span>
                            3D визуализации/ коллажи. <br>
                            Все мы любим глазами и легче всего воспринимаем визуальную информацию. Мы предложим вам
                            фотореалистичные картинки будущего пространства или коллажи (для тех, кто имеет богатое
                            воображение и хочет немного сэкономить на проекте). Данный этап поможет сформировать четкое
                            представление о дизайне помещений и выбранном планировочном решении. Здесь же подбирается
                            мебель, отделочные материалы и оборудование согласно утвержденному проекту.
                        </p>
                        <p><span class="bold">4.)</span>
                            Рабочие чертежи. <br>
                            Разработка альбом профессиональных рабочих чертежей для последующей реализации проекта,
                            доступных и понятных любому компетентному строителю.
                        </p>
                        <p><span class="bold">5.)</span>
                            Согласования. <br>
                            Дизайн- проект коммерческого интерьера так же включает в себя множество разделов и
                            подразделов. Чтобы определить окончательную стоимость проекта и конкретные разделы,
                            необходимые именно Вам, мы приглашаем Вас на бесплатную консультацию.
                            Согласование проекта в различных инстанциях (при необходимости)
                            Формат сопровождения проектов и его стоимость обсуждается индивидуально и возможен в разных
                            городах и странах.
                        <h3>
                            Все этапы работы подкрепляются договором со сроками и обязательствами.
                        </h3>
                        </p>
                    </div>

                    <a href="#" alt="свернуть" class="read-more">читать больше</a>
                </div>
                <img src="{% static 'img/boss-discussing-document-with-secretary-6BW4T3Y 6.png' %}" alt="">
            </section>

        </div>

    </div>
    <div class="bg-services-mobile">
        <div class="sq">
            <img src="{% static 'img/boss-discussing.png' %}" alt="">
            <div class="text">
                <num>01</num>
                <h2 class="red">Профессиональная консультация</h2>
                <p>От <span class="bold">500 р/час</span></p>
                <h3>Когда нужна консультация?</h3>
                <div class="wrapper closed">
                    <p><span class="bold">1.)</span> Если Вы в стадии выбора недвижимости, думаете, какая квартира для
                        Вас
                        будет оптимальна, хотите сравнить несколько вариантов планировочных решений. Наш дизайнер
                        поможет и
                        подскажет, какое пространство подойдет больше под Ваши потребности и образ жизни.</p>
                    <p><span class="bold">2.)</span> Вы только приобрели недвижимость, не собираетесь заказывать проект
                        по
                        дизайну интерьера, но не хотите допустить грубых ошибок в ремонте. Наша команда ответит на Ваши
                        вопросы, обсудит с Вами возможные интересные решения и посоветует, как сэкономить деньги, время
                        и
                        нервы!
                    </p>

                    <p><span class="bold">3.)</span> Вы приобрели земельный участок, не знаете с чего начать
                        строительство
                        будущего объекта и проектирование прилегающей территории, не можете определиться с бюджетом,
                        запутались в нормативных документах. Мы поможем Вам разобраться с данными вопросами, подскажем,
                        работа с какими разделами и специалистами понадобится, сколько времени и средств уйдет на
                        разработку
                        проекта, составим грамотные технические задания.
                    </p>
                    <p><span class="bold">4.)</span> Вы уже в процессе ремонта, или у Вас квартира с отделкой, и Вы
                        хотите
                        получить идеи по расположению мебели, декорированию пространства, определению цветового решения
                        исходя из Вашего бюджета. Мы с радостью подскажем Вам возможные планировочные решения и
                        стилистические направления!
                    </p>

                    <h3>Стоимость консультации определяется индивидуально, в зависимости от стоящей перед нашей командой
                        задачи!</h3>
                </div>
                <a href="#" alt="свернуть" class="read-more">читать больше</a>
            </div>
        </div>
        <div class="sq">
            <div class="text block">
                <img src="{% static 'img/boss-discussing-document-with-secretary-6BW4T3Y 4.png' %}" alt="">
                <num>02</num>
                <h2>Архитектурное проектирование</h2>
                <div class="wrapper closed">
                    <p>
                        Разработка архитектурного проекта нелегкий и трудоемкий процесс. Из всех осуществляемых нами
                        работ и услуг- это одна из наиболее ответственных и сложных. Архитектурный проект включает в
                        себя множество разделов и подразделов, требует взаимодействия большой команды специалистов
                        (от
                        геодезистов до конструкторов и непосредственно проектировщиков). Для индивидуального
                        строительства бывает необходим «облегченный» проект, не требующих множества согласований и
                        временных затрат, чего нельзя сказать о разработке проекта торгового центра или
                        многоэтажного
                        жилого дома. Именно по этой причине мы не указываем в данном разделе минимальной стоимости
                        проекта и не расписываем подробно все этапы работ.</p>
                    <h3>
                        Вместо этого мы приглашаем Вас на бесплатную консультацию, где с радостью выслушаем Вас,
                        обговорим предварительную стоимость Вашего архитектурного проекта и составим предварительное
                        техническое задание.</h3>
                </div>
                <a href="#" alt="свернуть" class="read-more">читать больше</a>
            </div>
        </div>
        <div class="sq"><img src="{% static 'img/boss-discussing-document-with-secretary-6BW4T3Y 5.png' %}" alt="">
            <div class="text block">
                <num>03</num>
                <h2>Дизайн интерьера</h2>
                <p>От <span class="bold">1500 р/м2</span></p>
                <div class="wrapper closed">
                    <h3>Этапы работ:</h3>
                    <p>
                        <span class="bold">1.)</span>
                        Знакомство, анкетирование, сбор информации. <br>
                        Все мы разные, имеем свои индивидуальные черты и увлечения. Для максимально эффективной и
                        быстрой работы над проектом команда Poplavsky Group узнаёт Вас поближе, расспрашивает об
                        увлечениях, вкусовых особенностях, о необходимых Вам местах хранения, предпочтениях в выборе
                        мебели, техники и т.д.
                    </p>
                    <p><span class="bold">2.)</span> Планировка и изучение пространства. <br>
                        Мы предлагаем Вам насколько вариантов планировки с расстановкой мебели, с учетом всех ваших
                        пожеланий и вместе выбираем наиболее близкий Вам, дорабатываем его.</p>
                    <p><span class="bold">3.)</span> 3D визуализации/ коллажи. <br>
                        Все мы любим глазами и легче всего воспринимаем визуальную информацию. Мы предложим вам
                        фотореалистичные картинки будущего пространства или коллажи (для тех, кто имеет богатое
                        воображение и хочет немного сэкономить на проекте). Данный этап поможет сформировать четкое
                        представление о дизайне помещений и выбранном планировочном решении. Здесь же подбирается
                        мебель, отделочные материалы и оборудование согласно утвержденному проекту.
                    </p>
                    <p><span class="bold">4.)</span> Рабочие чертежи. <br>
                        Разработка альбома профессиональных рабочих чертежей для последующей реализации проекта,
                        доступных и понятных любому компетентному строителю.
                        Формат сопровождения проектов и его стоимость обсуждается индивидуально и возможен в разных
                        городах и странах.
                        Все этапы работы подкрепляются договором со сроками и обязательствами.
                    </p>
                </div>
                <a href="#" alt="свернуть" class="read-more">читать больше</a>
            </div>
        </div>
        <div class="sq">
            <div class="text block">
                <img src="{% static 'img/boss-discussing-document-with-secretary-6BW4T3Y 6.png' %}" alt="">
                <num>04</num>
                <h2>Коммерческий дизайн интерьера</h2>
                <div class="wrapper closed">
                    <h3>Этапы работ:</h3>
                    <p><span class="bold">1.)</span>
                        Знакомство, анкетирование, сбор информации. <br>
                        Любой бизнес имеет свои индивидуальные особенности. Для максимально эффективной и быстрой
                        работы над проектом на данном этапе нашей команде необходимо представлять специфику и
                        направление вашего бизнеса, будущий функционал и формат помещений, его эргономические и
                        технологические аспекты.
                    </p>
                    <p><span class="bold">2.)</span>
                        Планировка и изучение пространства. <br>
                        Мы предлагаем Вам насколько вариантов планировки с расстановкой мебели, с учетом всех ваших
                        пожеланий и вместе выбираем наиболее близкий Вам, дорабатываем его.
                    </p>
                    <p><span class="bold">3.)</span>
                        3D визуализации/ коллажи. <br>
                        Все мы любим глазами и легче всего воспринимаем визуальную информацию. Мы предложим вам
                        фотореалистичные картинки будущего пространства или коллажи (для тех, кто имеет богатое
                        воображение и хочет немного сэкономить на проекте). Данный этап поможет сформировать четкое
                        представление о дизайне помещений и выбранном планировочном решении. Здесь же подбирается
                        мебель, отделочные материалы и оборудование согласно утвержденному проекту.
                    </p>
                    <p><span class="bold">4.)</span>
                        Рабочие чертежи. <br>
                        Разработка альбом профессиональных рабочих чертежей для последующей реализации проекта,
                        доступных и понятных любому компетентному строителю.
                    </p>
                    <p><span class="bold">5.)</span>
                        Согласования. <br>
                        Дизайн- проект коммерческого интерьера так же включает в себя множество разделов и
                        подразделов. Чтобы определить окончательную стоимость проекта и конкретные разделы,
                        необходимые именно Вам, мы приглашаем Вас на бесплатную консультацию.
                        Согласование проекта в различных инстанциях (при необходимости)
                        Формат сопровождения проектов и его стоимость обсуждается индивидуально и возможен в разных
                        городах и странах.
                    <h3>
                        Все этапы работы подкрепляются договором со сроками и обязательствами.
                    </h3>
                    </p>
                </div>
                <a href="#" alt="свернуть" class="read-more">читать больше</a>
            </div>
        </div>
    </div>
    {% include 'ru/footer-form.html' with title='Напишите нам' title_2='Свяжитесь с нами, чтобы задать вопрос!' %}
{% endblock %}
