{% extends 'ru/base.html' %} {% load static %} {% block content %}

    {% include 'ru/bread.html' with page='Услуги и цены' %}
    <div class="bg-services">
        <section class="services">
            <div class="">
                <img src="{% static 'img/boss-discussing.png' %}" alt="">
                <a href="" class="large-button">Заказать консультацию</a>
            </div>
            <div class="text">
                <num>01</num>
                <h2 class="red">Профессиональная консультация</h2>
                <p>Профессиональная консультация. <span class="bold">От 500 р/час</span></p>
                <h3>Когда нужна консультация?</h3>
                <p><span class="bold">1.)</span> Если Вы в стадии выбора недвижимости, думаете, какая квартира для Вас
                    будет оптимальна, хотите сравнить несколько вариантов планировочных решений. Наш дизайнер поможет и
                    подскажет, какое пространство подойдет больше под Ваши потребности и образ жизни.</p>
                <p><span class="bold">2.)</span> Вы только приобрели недвижимость, не собираетесь заказывать проект по
                    дизайну интерьера, но не хотите допустить грубых ошибок в ремонте. Наша команда ответит на Ваши
                    вопросы, обсудит с Вами возможные интересные решения и посоветует, как сэкономить деньги, время и
                    нервы!
                </p>
                <p><span class="bold">3.)</span> Вы приобрели земельный участок, не знаете с чего начать строительство
                    будущего объекта и проектирование прилегающей территории, не можете определиться с бюджетом,
                    запутались в нормативных документах. Мы поможем Вам разобраться с данными вопросами, подскажем,
                    работа с какими разделами и специалистами понадобится, сколько времени и средств уйдет на разработку
                    проекта, составим грамотные технические задания.
                </p>
                <p><span class="bold">4.)</span> Вы уже в процессе ремонта, или у Вас квартира с отделкой, и Вы хотите
                    получить идеи по расположению мебели, декорированию пространства, определению цветового решения
                    исходя из Вашего бюджета. Мы с радостью подскажем Вам возможные планировочные решения и
                    стилистические направления!
                </p>
                <h3>Стоимость консультации определяется индивидуально, в зависимости от стоящей перед нашей командой
                    задачи!</h3>
                <a href="#" class="read-more">свернуть</a>
            </div>
        </section>
        <section>
            <div class="text block">
                <num>02</num>
                <h2>Архитектурное проектирование</h2>
                <p>Разработка архитектурного проекта нелегкий и трудоемкий процесс. Из всех осуществляемых нами работ и услуг- это одна из наиболее ответственных и сложных.Архитектурный проект включает в себя множество разделов...</p>
                <a href="#" class="read-more">читать больше</a>
            </div>
            <img src="{% static 'img/boss-discussing-document-with-secretary-6BW4T3Y 4.png' %}" alt="">
        </section>
        <section>
            <img src="{% static 'img/boss-discussing-document-with-secretary-6BW4T3Y 5.png' %}" alt="">
            <div class="text block">
                <num>03</num>
                <h2>Дизайн интерьера</h2>
                <p>Все мы разные, имеем свои индивидуальные черты и увлечения. Для максимально эффективной и быстрой работы над проектом команда Poplavsky Group узнаёт Вас поближе, расспрашивает об увлечениях, вкусовых особенностях...</p>
                <a href="#" class="read-more">читать больше</a>
            </div>
        </section>
        <section>
            <div class="text block">
                <num>04</num>
                <h2>Коммерческий дизайн интерьера</h2>
                <p>Все мы разные, имеем свои индивидуальные черты и увлечения. Для максимально эффективной и быстрой работы над проектом команда Poplavsky Group узнаёт Вас поближе, расспрашивает об увлечениях, вкусовых особенностях...</p>
                <a href="#" class="read-more">читать больше</a>
            </div>
            <img src="{% static 'img/boss-discussing-document-with-secretary-6BW4T3Y 6.png' %}" alt="">
        </section>
    </div>
{% endblock %}
